
div#gameWindow {
	margin: 0px;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
}


/*.res {
	float: left;
	position: absolute;
}
*/

.background {
	z-index: 1;
}


.midground {
	z-index: 2;
}
